<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-service-template:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-boot-service-template.war">
      <element id="artifact" artifact-name="spring-boot-service-template:war exploded" />
    </root>
  </artifact>
</component>